*{
    font-family: 'Open Sans', sans-serif;
}
html,body{
    height:100%;
}
body{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
}

/*****************************************
HEADER
*****************************************/

header{
    background: #2a3137;
    height: 35px;
    color:#fff;
    border-bottom:1px solid #14181b;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
        -ms-flex-pack:end;
            justify-content:flex-end;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
    
}

.green_disk{
    height: 18px;
    width: 18px;
    background: #88c342;
    border-radius:9px;
    border: 1px solid #1c2125;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.7);
    box-sizing:border-box;
}

header img{
    border: 1px solid #1c2125;
    margin:0 10px; 
    width:25px; 
    height:25px;
}

header span{
   margin-right:80px;
}

/*****************************************
INFO-PANEL
*****************************************/

.info_panel{
    -webkit-box-flex:0;
    -webkit-flex:0 0 90px;
        -ms-flex:0 0 90px;
            flex:0 0 90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align:stretch;
    -webkit-align-items:stretch;
        -ms-flex-align:stretch;
            align-items:stretch;
    box-sizing:border-box;
}



.search{
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    -webkit-box-flex:0;
    -webkit-flex:0 1 300px;
        -ms-flex:0 1 300px;
            flex:0 1 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    box-sizing:border-box;
    color:#fff;
}

.search input{
    -webkit-box-flex:2;
    -webkit-flex:2;
        -ms-flex:2;
            flex:2;
    height: 0px;
    color: #a8abb0;
    font-size: 16px;
    font-weight: 300;
    padding-left: 60px;
    background: #fff url(../img/search.png)no-repeat 21px 50%;
    border: none;
}

.chat_button{
    border:none;
    border-top: 1px solid #dadada;
    height: auto;
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
    background: #f0f0f0 url(../img/chat_icon.png)no-repeat 50% 50%;
    width: 100%;
}


.panel{
    background: -webkit-linear-gradient(top, #ffffff, #f3f3f3);
    background: linear-gradient(to bottom, #ffffff, #f3f3f3);
    border-bottom: 1px solid #dadada;
    -webkit-box-flex:5;
    -webkit-flex:5;
        -ms-flex:5;
            flex:5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
    padding: 0 15px;
    box-sizing:border-box;
    color:#fff;
}


.conversation_block{
    font-size:14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
    height: 62px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    color: #000;
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
        -ms-flex-pack:end;
            justify-content:flex-end;
}

.conversation_block .members{
    color:#293134;
}

.conversation_block .members_number{
    color:#293134;
    color:#7d7a81; 
    font-weight:600; 
}

.conversation_block .member_name{
    color:#53535d; 
    margin-bottom:1px; 
}



.profile_pic{
    height: 62px;
    width:62px;
    margin-right:15px;
    padding: 2px;
    background:#fff;
    box-sizing:border-box;
    border:1px solid #e5e5e5;
}

.profile_pic img{
    height: 56px;
    width: 56px;
}


.start_conference{
    height: 38px;
    border-radius: 19px;
    border:1px solid #62933a;
    background: -webkit-linear-gradient(top, #88c641, #7bb23b);
    background: linear-gradient(to bottom, #88c641, #7bb23b);
    font-size: 16px;
    line-height: 38px;
    padding: 0 16px;
    cursor: pointer;

}

.start_conference:hover{
    background: -webkit-linear-gradient(bottom, #88c641, #7bb23b);
    background: linear-gradient(to top, #88c641, #7bb23b);
}


/*****************************************
MAIN-CONTENT
*****************************************/

.main_content{
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing:border-box;
    width: 100%;
/*    flex-direction: column;*/
}



/*LEFT ASIDE*/

.left_aside{
    background: #f9f9f9;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 300px;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
    border-right: 1px solid #dadada;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    box-sizing:border-box;
    overflow-y:auto;

    height: calc(100vh - 127px);
}

.select_talk{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70px;
        -ms-flex: 0 0 70px;
            flex: 0 0 70px;
    background: #fff;
    border-bottom: 1px solid #dadada;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 14px;
    box-sizing: border-box;
    color: #20262d;
    font-size: 14px;
}

.img_wrapper{
    padding:2px;
    background: #fff;
    border:1px solid #e5e5e5;
}

.select_talk > span{
    color: #7c7b81;
    font-size: 12px;
}

.caption{
    -webkit-box-flex:2;
    -webkit-flex:2;
        -ms-flex:2;
            flex:2;
    padding-left: 10px;
    overflow: hidden;

}

.caption p{
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    -moz-text-overflow:ellipsis;
}

.caption span{
    color: #b1b3b8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    -moz-text-overflow:ellipsis;
}

/*MAIN-CONTENt*/

.chatfield_wrapper{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
    box-sizing:border-box;
    color:#fff;
}

.chat{
    -webkit-box-flex: 5;
    -webkit-flex: 5;
        -ms-flex: 5;
            flex: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    box-sizing: border-box;
}

.window{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
    box-sizing:border-box;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

}

.window.main{
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
}

.posts{
    -webkit-box-flex:1;
    -webkit-flex:1 1 300px;
        -ms-flex:1 1 300px;
            flex:1 1 300px;
    background: #f4f4f4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-align:start; 
    -webkit-align-items:flex-start; 
        -ms-flex-align:start; 
            align-items:flex-start;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
    overflow-y:auto;
}

.comments_container{
    -webkit-box-flex:0;
    -webkit-flex:0 1 640px;
        -ms-flex:0 1 640px;
            flex:0 1 640px;
    position: relative;
}



.single_post{
    border:1px solid #dfdfdf;
    background: #fcfcfc;
    border-radius: 5px;
    max-width: 100%;
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
    margin: 20px;
    padding: 14px;
    color: #000;
    box-sizing:border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
        -ms-flex-align:start;
            align-items:flex-start;
}


.single_post p{
    margin: 5px 0;
    font-size: 14px;
}

.single_post span{
    font-size: 13px;
    color: #b6b6b6;
}

.text_container{
    margin: 0 14px;
}

/*RIGHT ASIDE (WINDOW.SIDE)*/

.window.side{
    background: #fff;
    width: 316px; /*width instead of flex - for ie animation*/
/*    -webkit-box-flex:0;
    -webkit-flex:0 1 316px;
        -ms-flex:0 1 316px;
            flex:0 1 316px;*/
    height: calc(100vh - 202px);
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}

.arrow{
    height: 16px;
    -webkit-box-flex:0;
    -webkit-flex:0 0 16px;
        -ms-flex:0 0 16px;
            flex:0 0 16px;
    background: url(../img/arrow.png) no-repeat 100% 50%;
    cursor: pointer;
    -webkit-align-self:center;
        -ms-flex-item-align:center;
            align-self:center;
}

.arrow.open{
   background: url(../img/arrow_open.png) no-repeat 100% 50%; 
}

.participants{
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
    padding: 20px 25px;
    overflow-y:auto;
}

.participants.hidden{
    overflow: hidden;
}

.participants p{
    -webkit-box-flex:0;
    -webkit-flex:0 0 14px;
        -ms-flex:0 0 14px;
            flex:0 0 14px;
    font-size: 14px;
    padding-left: 10px;
    color: #232630;
}

.title{
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 10px;
    font-weight: bold;
}


@-webkit-keyframes winside_hide {
  from {
    -webkit-box-flex:0;
    -webkit-flex:0 1 316px;
            flex:0 1 316px;
    }
  to {
    -webkit-box-flex:0;
    -webkit-flex:0 1 27px;
            flex:0 1 27px;
    overflow: hidden;

    }
}


@keyframes winside_hide {
  from {
    -webkit-box-flex:0;
    -webkit-flex:0 1 316px;
        -ms-flex:0 1 316px;
            flex:0 1 316px;
    }
  to {
    -webkit-box-flex:0;
    -webkit-flex:0 1 27px;
        -ms-flex:0 1 27px;
            flex:0 1 27px;
    overflow: hidden;

    }
}

@-ms-keyframes winside_hide {
  from {
    width: 316px;
    }
  to {
    width: 27px;
    overflow: hidden;

    }
}

@-webkit-keyframes winside_show {
  from {
    -webkit-box-flex:0;
    -webkit-flex:0 1 27px;
            flex:0 1 27px;
    overflow: hidden;
    }
  to {
    -webkit-box-flex:0;
    -webkit-flex:0 1 316px;
            flex:0 1 316px;
    background: #fff;

    }
}

@keyframes winside_show {
  from {
    -webkit-box-flex:0;
    -webkit-flex:0 1 27px;
        -ms-flex:0 1 27px;
            flex:0 1 27px;
    overflow: hidden;
    }
  to {
    -webkit-box-flex:0;
    -webkit-flex:0 1 316px;
        -ms-flex:0 1 316px;
            flex:0 1 316px;
    background: #fff;

    }
}

@-webkit-keyframes com_block_hide {
  from {
    margin-right: 316px;
    }
  to {
    margin-right: 27px;
    }
}

@keyframes com_block_hide {
  from {
    margin-right: 316px;
    }
  to {
    margin-right: 27px;
    }
}

@-webkit-keyframes com_block_show {
  from {
    margin-right: 27px;
    }
  to {
    margin-right: 316px;
    }
}

@keyframes com_block_show {
  from {
    margin-right: 27px;
    }
  to {
    margin-right: 316px;
    }
}

.window.side.hide{
  -webkit-animation: winside_hide 0.2s ease-in-out alternate both;
          animation: winside_hide 0.2s ease-in-out alternate both;
}

.window.side.show{
  -webkit-animation: winside_show 0.2s ease-in-out alternate both;
          animation: winside_show 0.2s ease-in-out alternate both;
}


.com_block.hide{
    -webkit-animation: com_block_hide 0.2s ease-in-out alternate both;
            animation: com_block_hide 0.2s ease-in-out alternate both;
}

.com_block.show{
    -webkit-animation: com_block_show 0.2s ease-in-out alternate both;
            animation: com_block_show 0.2s ease-in-out alternate both;
}


/*WRITING SECTION*/

.write_comment_block{
    background: -webkit-linear-gradient(top, #efefef, #e8e8e8);
    background: linear-gradient(to bottom, #efefef, #e8e8e8);
    border-top: 1px solid #d9d9d9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;  
    -webkit-box-align:center;  
    -webkit-align-items:center;  
        -ms-flex-align:center;  
            align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
}

.com_block{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
    margin-right: 316px;
    padding: 9px 0;
}

.input_area{
    border:1px solid #dadada;   
    position: relative;
    -webkit-box-flex:1;
    -webkit-flex:1 1 54px;
        -ms-flex:1 1 54px;
            flex:1 1 54px;
    padding: 0px;
    cursor: text;
    margin:0 20px;
    left: -8px;
    color: #b3b3b3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
    background: #fcfcfc;
    overflow-y:auto;
}

.chat_buttons{
    position: absolute;
    top: 14px;
    right: 45px;
}

.chat_buttons button{
    height: 17px;
    width: 17px;
    margin:6px;

}

.format{
    background: url(../img/format.png) no-repeat 50% 50%;
    border:none;
}

.smiles{
    background: url(../img/smiles.png) no-repeat 50% 50%;
    border:none;
}

.attach{
    background: url(../img/attach.png) no-repeat 50% 50%;
    border:none;
}

.textarea{
    padding: 10px 12px;
    padding-top: 15px;
    box-sizing:border-box;
    min-height: 54px;
    max-height: 154px;
    width: 460px;
    outline: none;
    color: #000;
    font-size: 16px;

}

.textarea[placeholder]:empty:before {
    content: attr(placeholder);
    color: #999; 
}




/*-------------------------------------------------------*/
