* {
  font-family: 'Open Sans', sans-serif;
}
html,
body {
  height: 100%;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*****************************************
HEADER
*****************************************/
header {
  background: #2a3137;
  height: 35px;
  color: #fff;
  border-bottom: 1px solid #14181b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header img {
  border: 1px solid #1c2125;
  margin: 0 10px;
  width: 25px;
  height: 25px;
}
header span {
  margin-right: 80px;
}
.login_header {
  height: 40px;
  box-sizing: border-box;
  background: #2a3136;
  border-bottom: 1px solid #15191b;
}
.green_disk {
  height: 18px;
  width: 18px;
  background: #88c342;
  border-radius: 9px;
  border: 1px solid #1c2125;
  box-sizing: border-box;
}
/*****************************************
INFO-PANEL
*****************************************/
.search {
  border-bottom: 1px solid #dadada;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 90px;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  box-sizing: border-box;
  color: #fff;
}
.search input {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 0;
  color: #a8abb0;
  font-size: 16px;
  font-weight: 300;
  padding-left: 60px;
  background: #ffffff url('../img/search.png') no-repeat 21px 50%;
  border: none;
}
.chat_button {
  border: none;
  border-top: 1px solid #dadada;
  height: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #f0f0f0 url('../img/chat_icon.png') no-repeat 50% 50%;
  width: 100%;
}
.panel {
  background: -webkit-linear-gradient(top, #ffffff, #f3f3f3);
  background: linear-gradient(to bottom, #ffffff, #f3f3f3);
  border-bottom: 1px solid #dadada;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 90px;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  color: #fff;
}
.conversation_block {
  font-size: 14px;
  height: 62px;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.conversation_block .members {
  color: #293134;
}
.conversation_block .members_number {
  color: #7d7a81;
  font-weight: 600;
}
.conversation_block .member_name {
  color: #53535d;
  margin-bottom: 1px;
}
.profile_pic {
  height: 62px;
  width: 62px;
  margin-right: 15px;
  padding: 2px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
}
.profile_pic img {
  height: 56px;
  width: 56px;
}
.start_conference {
  height: 38px;
  border-radius: 19px;
  border: 1px solid #62933a;
  background: -webkit-linear-gradient(top, #88c641, #7bb23b);
  background: linear-gradient(to bottom, #88c641, #7bb23b);
  font-size: 16px;
  line-height: 38px;
  padding: 0 16px;
  cursor: pointer;
}
.start_conference:hover {
  background: -webkit-linear-gradient(bottom, #88c641, #7bb23b);
  background: linear-gradient(to top, #88c641, #7bb23b);
}
/*****************************************
MAIN-CONTENT
*****************************************/
.main_content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.main_content.login_main {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #f4f4f4;
}
/*LEFT ASIDE*/
.left_aside {
  background: #f9f9f9;
  width: 300px;
  border-right: 1px solid #dadada;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  height: calc(100vh - 36px);
}
.aside_container {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 0%;
      -ms-flex-preferred-size: 0%;
          flex-basis: 0%;
  height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
}
.select_talk {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70px;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  background: #fff;
  border-bottom: 1px solid #dadada;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 14px;
  box-sizing: border-box;
  color: #20262d;
  font-size: 14px;
}
.select_talk > span {
  color: #7c7b81;
  font-size: 12px;
}
.img_wrapper {
  padding: 2px;
  background: #fff;
  border: 1px solid #e5e5e5;
}
.caption {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-left: 10px;
  overflow: hidden;
}
.caption p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.caption span {
  color: #b1b3b8;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*MAIN-CONTENt*/
.chatfield_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  box-sizing: border-box;
  color: #fff;
}
.cw_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.chat {
  min-height: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  box-sizing: border-box;
}
.window {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.posts {
  -webkit-flex: 1 1 300px;
  -ms-flex: 1 1 300px;
  -webkit-box-flex: 1;
          flex: 1 1 300px;
  background: #f4f4f4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: auto;
}
.comments_container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 640px;
      -ms-flex: 0 1 640px;
          flex: 0 1 640px;
  position: relative;
}
.single_post {
  border: 1px solid #dfdfdf;
  background: #fcfcfc;
  border-radius: 5px;
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 20px;
  padding: 14px;
  color: #000;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.single_post p {
  margin: 5px 0;
  font-size: 14px;
}
.single_post span {
  font-size: 13px;
  color: #b6b6b6;
}
.text_container {
  margin: 0 14px;
}
/*RIGHT ASIDE*/
#right_aside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 316px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  position: relative;
}
.list_container {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
}
#arrow {
  height: 16px;
  width: 16px;
  background: url('../img/arrow.png') no-repeat 100% 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0px;
}
#arrow.open {
  background: url('../img/arrow_open.png') no-repeat 100% 50%;
}
#participants {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 25px;
}
#participants p {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 14px;
      -ms-flex: 0 0 14px;
          flex: 0 0 14px;
  font-size: 14px;
  padding-left: 10px;
  color: #232630;
}
#participants.hide {
  overflow: hidden;
  display: none;
}
.title {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 10px;
  font-weight: 700;
}
#right_aside.hide {
  width: 27px;
}
/*WRITING SECTION*/
.write_comment_block {
  background: -webkit-linear-gradient(top, #efefef, #e8e8e8);
  background: linear-gradient(to bottom, #efefef, #e8e8e8);
  border-top: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 74px;
}
#com_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 316px;
  padding: 9px 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
#com_block.hide {
  margin-right: 27px;
}
.input_area {
  border: 1px solid #dadada;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 54px;
      -ms-flex: 1 1 54px;
          flex: 1 1 54px;
  padding: 0;
  cursor: text;
  margin: 0 20px;
  left: -8px;
  color: #b3b3b3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fcfcfc;
  overflow-y: auto;
}
.chat_buttons {
  position: absolute;
  top: 14px;
  right: 45px;
}
.chat_buttons button {
  height: 17px;
  width: 17px;
  margin: 6px;
}
.format {
  background: url('../img/format.png') no-repeat 50% 50%;
  border: none;
}
.smiles {
  background: url('../img/smiles.png') no-repeat 50% 50%;
  border: none;
}
.attach {
  background: url('../img/attach.png') no-repeat 50% 50%;
  border: none;
}
.textarea {
  padding: 10px 12px;
  padding-top: 15px;
  box-sizing: border-box;
  min-height: 54px;
  max-height: 154px;
  width: 460px;
  outline: none;
  color: #000;
  font-size: 16px;
  word-break: break-all;
}
.textarea[placeholder]:empty:before {
  content: attr(placeholder);
  color: #999;
}
/*LOGIN*/
.login_block {
  width: 250px;
  margin-top: 55px;
  box-sizing: border-box;
}
.login_block h2 {
  font-weight: 300;
  margin: 0;
}
.login_block form {
  margin-top: 30px;
}
.login_block input:not([type="checkbox"]) {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dadada;
  border-radius: 3px;
  margin: 5px 0;
  font-size: 14px;
  line-height: 28px;
  height: 30px;
  padding: 0 8px;
}
.login_block button {
  width: 100%;
  border-radius: 3px;
  height: 30px;
  border: 1px solid #62933a;
  background: -webkit-linear-gradient(top, #88c641, #7bb23b);
  background: linear-gradient(to bottom, #88c641, #7bb23b);
  font-size: 12px;
  line-height: 28px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}
.login_block button:hover {
  background: -webkit-linear-gradient(bottom, #88c641, #7bb23b);
  background: linear-gradient(to top, #88c641, #7bb23b);
}
.check_private {
  margin: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.check_private p {
  font-size: 12px;
  line-height: 18px;
  color: #7d7d7d;
  font-weight: 600;
  text-decoration: none;
  margin: 0;
}
.check_private span {
  font-size: 12px;
  line-height: 12px;
  color: #b5b5b5;
  text-decoration: none;
  margin: 0;
}
.check_private label {
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
  margin-right: 15px;
}
.check_private label input {
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.0;
  cursor: pointer;
}
.check_private label input + .check_imitation {
  content: ' ';
  display: block;
  width: 18px;
  height: 18px;
  background: url('../img/checkbox.png') no-repeat 0 0;
  cursor: pointer;
}
.check_private label input:checked + .check_imitation {
  background: url('../img/checkbox.png') no-repeat 0 -36px;
}
.check_private label .check_imitation {
  width: 18px;
  height: 18px;
  background: url('../img/checkbox.png') no-repeat 0 0;
  cursor: pointer;
}
.check_private label:hover input + .check_imitation {
  background: url('../img/checkbox.png') no-repeat 0 -18px;
}
.forgot {
  text-align: center;
  padding-top: 20px;
}
.forgot a {
  font-size: 12px;
  color: #888;
  font-weight: 600;
  text-decoration: none;
}
.forgot:hover {
  text-decoration: underline;
}
/*****************************************
FOOTER
*****************************************/
footer {
  height: 277px;
  background: #2a3136;
  box-sizing: border-box;
  border-top: 1px solid #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px 55px 0;
}
.socials {
  height: 70px;
  border-bottom: 1px solid #383f43;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 13px;
}
.product img {
  position: relative;
  top: -1px;
}
.product span {
  color: #fff;
  font-size: 14px;
}
.sm_list {
  width: 225px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sm_list a {
  display: block;
  height: 22px;
  width: 21px;
  background: url('../img/socials.png') no-repeat 0 0;
}
.sm_list a:hover {
  opacity: 0.8;
}
.sm_list .s_0 {
  background: url('../img/socials.png') no-repeat 0px 0px;
}
.sm_list .s_1 {
  background: url('../img/socials.png') no-repeat -34px 0px;
}
.sm_list .s_2 {
  background: url('../img/socials.png') no-repeat -68px 0px;
}
.sm_list .s_3 {
  background: url('../img/socials.png') no-repeat -102px 0px;
}
.sm_list .s_4 {
  background: url('../img/socials.png') no-repeat -136px 0px;
}
.sm_list .s_5 {
  background: url('../img/socials.png') no-repeat -170px 0px;
}
.sm_list .s_6 {
  background: url('../img/socials.png') no-repeat -204px 0px;
}
.f_logo img {
  position: relative;
  top: -12px;
}
.f_logo span {
  display: inline-block;
  color: #787878;
  font-size: 13px;
}
.link_list {
  padding: 0;
  margin: 0;
  padding-top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.link_list li {
  list-style: none;
  display: inline-block;
  color: #787878;
}
.link_list li a {
  color: #787878;
  margin: 0 10px;
  text-decoration: none;
  font-size: 13px;
}
.link_list li a:hover {
  text-decoration: underline;
}
.link_list li:last-child a {
  margin-right: 0;
}
